<p>
  <% link.source_types.each do |source_type| %>
    <%= source_type_icon(source_type.name) %>
  <% end %>
  <%= link_to link.title.present? ? link.title : '[Missing title]', link, target: "_top" %>
</p>
<% if link.notes.present? %>
  <p class="-mt-2"><%= link.notes %></p>
<% end %>
