<p>
  <% link.source_types.each do |source_type| %>
    <% case source_type.name -%>
    <% when "academic_article" %>
      🎓
    <% when "book" %>
      📕
    <% when "news_article" %>
      📰
    <% when "podcast" %>
      🎧
    <% when "social_post" %>
      🗨
    <% when "video" %>
      🎥
    <% end %>
  <% end %>
  <%= link_to link.title, link, target: "_top" %>
</p>
<% if link.notes.present? %>
  <p><%= link.notes %></p>
<% end %>
