@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
@tailwind forms;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


@layer base {
  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply rounded w-full
  }

  [type='checkbox'] {
    @apply rounded mx-2
  }

  [type='radio'] {
    @apply mx-2
  }

  [type='submit'] {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
  }
  .btn-danger[type='submit'] {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
  }

  p.header {
    display: flex;
    justify-content: space-between;
  }
}
