.tag-combobox {
  fieldset.hw-combobox {
    width: 100%;
  }
  .hw-combobox__main__wrapper {
    width: 100%;
    min-width: 20rem;
  }
}

.search-page-combobox {
  fieldset.hw-combobox {
    width: 100%;
    max-width: 32rem;
  }
}
